$m-color:rgb(15, 122, 172);
$hv-color:rgb(16, 84, 116);
$bd-color:#eee;
$t-color:#666;

$fs-large:32px;
$fs-medium: 24px;
$fs-small: 16px;
$bdr-radius: 5px;
$pd-small: 10px;
$pd-default: 20px;
$mg-default: 20px;


.game-container {
    text-align: center;
    background-color: #fff;
    padding: $pd-default;
    border-radius: $bdr-radius;
    border: 1px solid $bd-color;
    box-shadow: 0 0 10px #0000003f;

    h2{
        font-size: $fs-medium;
        color: $m-color;
    }
    .current-word {
        font-size: $fs-large;
        font-weight: bold;
        color: $t-color;
        padding: $pd-small 0;
    }
    input{
        width: 200px;
        padding: $pd-small;
        border: 1px solid $bd-color;
        border-radius: $bdr-radius;
        transition: border .3s;
        outline: none;
        &:focus {
            border-color: $m-color;
        }
    }
    button{
        margin-left: 10px;
        border: none;
        padding:$pd-small $pd-small*2;
        font-size: $fs-small;
        background-color: $m-color;
        color: #fff;
        border-radius: $bdr-radius;
        cursor: pointer;
        transition:background .3s;

        &:hover{
            background-color: $hv-color;
        }
    }
    .message {
        margin-top: $mg-default;
        font-size: $fs-small;
        color: $t-color;
        
    }
}